* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

#canvas {
  margin: 3rem auto;
  display: block;
  background: #fff;
  /* background-image: url("renAndStimpy.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #ebebeb;
}
